*
!.gitignore
!.config/fish
!.bash_profile
!.bashrc
!.vimrc
!.zprofile
!.zshenv
!.zshrc
!Brewfile
!cron_test.sh
!install_vscode_extensions.sh
!requirements.txt
!update_Brewfile.sh
!update_requirements.sh
!update_vscode_extensions.sh
!vscode_extensions.txt
