<?xml version="1.0" encoding="UTF-8"?>
<!-- This file was created in dotfiles repository. -->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.github.tatakahashi35.dotfiles.update_libraries.plist</string>
        <key>ProgramArguments</key>
        <array>
            <string>/bin/bash</string>
            <string>/Users/{USER}/dotfiles/src/update_libraries.sh</string>
        </array>
        <key>UserName</key>
        <string>{USER}</string>
        <key>EnvironmentVariables</key>
            <dict>
                <key>PATH</key>
                <string>/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin</string>
                <key>GITHUB_TOKEN</key>
                <string>{GITHUB_TOKEN}</string>
            </dict>
        <key>StartCalendarInterval</key>
        <array>
            <dict>
                <key>Weekday</key>
                <integer>1</integer>
            </dict>
            <dict>
                <key>Hour</key>
                <integer>8</integer>
            </dict>
            <dict>
                <key>Minute</key>
                <integer>0</integer>
            </dict>
        </array>
        <key>StandardOutPath</key>
        <string>/Users/{USER}/dotfiles/launchd/update_libraries.log</string>
        <key>StandardErrorPath</key>
        <string>/Users/{USER}/dotfiles/launchd/update_libraries.err</string>
    </dict>
</plist>
