<?xml version="1.0" encoding="UTF-8"?>
<!-- This file was created in dotfiles repository. -->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.github.tatakahashi35.dotfiles.update_libraries.plist</string>
        <key>ProgramArguments</key>
        <array>
            <string>/bin/bash</string>
            <string>HOME/dotfiles/src/update_libraries.sh</string>
        </array>
        <key>StartCalendarInterval</key>
        <array>
            <dict>
                <key>Weekday</key>
                <integer>1</integer>
            </dict>
        </array>
        <key>StandardOutPath</key>
        <string>HOME/dotfiles/launchd/update_libraries.log</string>
        <key>StandardErrorPath</key>
        <string>HOME/dotfiles/launchd/update_libraries.err</string>
    </dict>
</plist>
